# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*
!.env.example

# Mac
.DS_Store

# Logs
*.log

# Alembic (if you add later)
migrations/versions/__pycache__/

# IDE settings
.idea/

#Local HTTP tests
test_main.http